
.testimonials{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .testimonials-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
} */

.testimonials .swiper {
  height: 50vh;
}

.tesimonial-card {
  position: relative;
  overflow: hidden;
  height: 40vh;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.testimonial-card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.testimonial-card-body h3 {
  margin: 0;
  font-weight: 200;
  font-size: 15px;
}
.testimonial-card-body h4 {
  margin: 0;
  font-weight: 900;
}

.testimonial-card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.testimonial-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-card-name {}

.testimonial-card-des {}

.testimonial-overlay {
  position: absolute;
  top: -30%;
  left: -20%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--color-primary);
  transition: var(--transition-element);
}

.tesimonial-card:hover .testimonial-overlay {
  background-color: var(--color-secondary);
}

.testimonial-icon {
  position: absolute;
  font-size: 70px;
  top: 0;
  left: 2%;
  color: #fff;
}

@media screen and (max-width: 568px){
  .testimonial-overlay {
    width: 160px;
    height: 160px;
  }

  .testimonial-icon {
    font-size: 55px;
  }
}