

.user-list table{
  margin-top: 2rem;
}

.user-list table td {
  text-align: center;
}

.user-list table button{
  border: 1px solid #999;
  padding: .2rem;
  border-radius: 3px;
  outline: none;
  font-family: vazir;
  margin: .1rem;
}