.product {
  overflow: hidden;
  gap: .3rem;
  transition: var(--transition-element);
  background-color: #ffffff;
}

.product-one {
  min-height: 40vh;
}

.product:hover {
  box-shadow: var(--box-shadow);
}

.product .product-inner {
  display: flex;
  align-items: center;
}

.product-inner-one{
  flex-direction: column;
}


.product .product-inner .product-img{
  position: relative;
}

.product .product-inner-one .product-img{
  width: 100%;
  height: 200px;
  
}


.product .product-inner .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product .product-inner .product-img .product-controls {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 1rem;
  z-index: 1;
  right: -100%;
  transition: var(--transition-element);
}

.product:hover .product-inner .product-img .product-controls {
  right:5%;

}

.product .product-inner .product-img .product-controls
.product-control-icon {
  padding: .4rem;
  box-shadow: var(--box-shadow);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--color-secondary);
  cursor: pointer;
  transition: var(--transition-element);
}

.product .product-inner .product-img .product-controls
.product-control-icon:hover{
  color: #ffffff;
  background-color: var(--color-primary);
}


.product .product-inner .product-title{

}
.product .product-inner .product-price{
  font-weight: 900;
}


.product .product-inner .product-rating-and-stock{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}



.product .product-inner .product-rating-and-stock .Available-in-stock {
  font-weight: 200;
}

.product .product-inner .product-rating{
  display: flex;
  align-items: center;
  gap: .3rem;
}



.product .product-inner .product-rating p{
  margin: 0;
  font-size: 17px;

}
.product .product-inner .product-rating .product-rating-icon{
  color: #cfa005;
  font-size: 20px;
  margin: 0;
}


@media screen and (min-width: 568px){

.product-two {
  min-height: 25vh;
  border-radius: 10px;
}
  
  .product-inner-two{
  flex-direction: row;
  justify-content: space-around;
}
  
  .product .product-inner-two .product-img{
  width: 30%;
  height: 200px;
}
  
  
.product .product-inner-two .product-rating-and-stock{
  width: fit-content;
}

.product .product-inner-two .product-rating-and-stock{
  flex-direction: column;
}
}
