.profile {
  position: relative;
}

.profile-body {
  min-height: 150vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;

}

.profile::before {
  position: absolute;
  content: '';
  width: 100%;
  right: 0;
  height: 50vh;
  top: 0;
  background-color: var(--color-primary);
  border-radius: 0 0 50% 0;
  z-index: -1;
}

.user-profile-menu {
  height: fit-content;
  background-color: var(--color-secondary);
  border-radius: 20px;
  padding: 1.5rem;
  backdrop-filter: blur(1px);
  margin-bottom: 5rem;

}

.user-profile-menu h5 {
  text-align: center;
  font-weight: 100;
}

.user-profile-menu ul {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  padding: 0;
  width: 100%;
}

.user-profile-menu ul li {
  list-style: none;
  margin: 1rem 0;
  width: 100%;
  transition: var(--transition-element);
  border-radius: 5px;
  padding: .5rem 0;
  cursor: pointer;
}

.user-profile-menu ul li a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding-left: 1.5rem;

  transition: var(--transition-element);
  padding: .5rem;
}

.user-profile-menu ul li:hover {
  background-color: #555555;
  border-left: 6px solid var(--color-primary);
}

.user-profile-menu ul li:hover a {
  padding-right: 1rem;

}

.website-infos {
  border-radius: 20px;
  min-height: 70vh;
  background-color: #fff;
  margin-top: 5rem;
  border: 1px solid #d6d6d6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.website-infos > div{
  width: 30%;
  height: 100px;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.website-infos > div >h3,h5{
  margin: 0;
}

@media screen and (max-width: 568px) {
  .profile-body {
    grid-template-columns: 1fr;
    padding: 3rem 0;
  }

  .user-profile-menu {
    margin-bottom: 1rem;
  }

  .website-infos > div{
    width: 80%;
  }
}

@media screen and (min-width: 569px) and (max-width: 800px) {}